services:
  mysql:
    image: mysql:9.2
    volumes:
      - mysql-data:/var/lib/mysql
    labels:
      stack-back.mysql: true
    env_file: .env
    restart: unless-stopped

  bookstack:
    image: solidnerd/bookstack:25.7.3
    depends_on:
      - mysql
    volumes:
    - /mnt/superlarsen/bookstack/public-uploads:/var/www/bookstack/public/uploads
    - /mnt/superlarsen/bookstack/storage-uploads:/var/www/bookstack/storage/uploads
    networks:
      - caddy
      - default
    env_file: .env
    restart: unless-stopped
    labels:
      caddy: wiki.superlarsen.fr
      caddy.reverse_proxy: "{{upstreams 8080}}"
      stack-back.volumes: true

  backup:
    image: ghcr.io/lawndoc/stack-back:1.4.5
    env_file: .env
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./cache:/cache

volumes:
  mysql-data:

networks:
  caddy:
    external: true
  smtp:
    external: true